# Entorno virtual
venv/
.env/
*.env
.env.*

# Archivos Python compilados
__pycache__/
*.py[cod]
*.pyo
app/__pycache__/
app/machine_learning/__pycache__/
# Archivos de configuración de editores
.vscode/
.idea/
*.swp

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos y carpetas de subida de usuario
/static/uploads/*
!/static/uploads/.gitkeep
app/static/plots/*

# Archivos de base de datos
*.sqlite3
*.db
*.db-journal

# Logs
*.log

# Archivos de Jupyter
.ipynb_checkpoints

# Archivos de modelos de ML
*.pkl
*.joblib
*.h5

# Cachés de Flask
instance/
*.cache

# Archivos CSV de prueba
*.csv

!*/.gitkeep